@font-face {
font-family: "Hind";
src: url(../fonts/Hind-Regular.ttf) format("truetype");
}

.content {
    width: 700px;
    height: auto;
    margin: auto;
    top:0;
    margin: auto;
    position: relative;
    clear:left;

}

.menu {
    display:inline-table;
    position: absolute;
    height:auto;
    width:700px;
    top: 10px;    
    left: 0px;
}

.banner {
    display:inline-table;
    height:6vh;
    float:left;
    width:100vh;
}

.cabecera img{
    position: relative;
    width: 700px;
    height: auto;
}

.title img{
    position: absolute;
    width: 700px;
    height: 50px;
    z-index: -1;
}

.about-line {
    width: 700px;
    height: auto;
}

.about-line img{
    position: relative;
    width: auto;
    height: auto;
}

.about {
    background-color: #ffffff;
    position: absolute;
    width: 700px;
    height: 200px;;
    float: left;
    top: 660px;
}

.about2 {
    width: 700px;
    height: 300px;
}

.about img{
    width: auto;
    margin: auto;
    float: right;
    z-index: -1;

}

#nameabout {
    position: absolute;
    text-align: center;
    font-size: 20px;
    margin-left: 315px;
    color: #4e5156;
}

#logoniclabs {
    width: 200px;
    height: auto;
    position:absolute;
    right:0;
    margin-top:20px;
}

#logoniclabs img{
    width: 180px;
    height: auto;
    top: 0;
}

#textonic {
    display: block;
    width: 470px;
    height: auto;
    float: left;
    margin-top: 30px;
    position: absolute;
    top: 20px;
    left: 10px;
    
}

.secciones {
    width: 700px;
    height: 600px;
    position: relative;
    top: 100px;
    float: left;
}

.seccion1 {
    display: block;
    height: auto;
    width: 250px;
    float: left;
    position: relative;
    margin-left: 60px;
}

.seccion2 {
    display: block;
    height: 560px;
    width: 330px;
    float: right;
    position: relative;
}

.latest-news img{
    display:block;
    width: 50vh;
    height: auto;
}

#footerfinal {
    position:absolute;
    width: 700px;
    margin: auto;
    height: auto;
    top: 900px;
}

#footerfinal-people {
    position:absolute;
    width: 700px;
    margin: auto;
    height: auto;
    top: 5000px;
}


#footerfinal img{
    width: 700px;
    height: auto;
}
h1 {
    font-size: 25px;
    color: #4e5156;
    font-family: 'Hind', sans-serif;
}

p {
    font-size: 12px;
    color: #4e5255;
    line-height: 1.5em;
    font-family: 'Hind', sans-serif;
}

h1 {
    font-size: 25px;
    color: #4e5156;
    font-family: 'Hind', sans-serif;
}

h1 {
    text-align: center;
    color: #4f5356;
    font-family: 'Hind', sans-serif;
}





#adkintun-tex {
    display: block;
    width: 200px;
    text-align: center;
    
}



#dns-text {
    display: block;
    width: 200px;
    text-align: center;
}

.seccion1-people {
    display: block;
    height: auto;
    width: 350px;
    float: left;
    position: relative;
    bottom: 0px;
    top: 20px;
}

#javier-tex {
    float: left;
    position: relative;
    text-align: left;
}

.FOTO-JAVIER {
    float: left;
    position: relative;
}

.JAVIER-BUSTOS {
    height: 131px;
    width: 350px;
}

#nombre-javier {
    font-size: 17px;
    text-align: left;
}

#title-reseachers {
    text-align: left;
    font-size: 18px;
}

.links-RS {
    width: 350px;
    float: right;
    position: relative;
    top: 20px;
    left: 150px;
}

.FOTO-SANDRA {
    float: left;
    position: relative;
}

.SANDRA-CESPEDES {
    height: 131px;
    width: 350px;
    position: relative;
    top: 60px;
}

#nombre-sandra {
    font-size: 17px;
    text-align: left;
}

#sandra-text {
    float: left;
    position: relative;
    text-align: left;
}



.info-people {
    width: 350px;
    margin-left: 150px;
    position: relative;
    top: 15px;
}

.links-RS-SANDRA {
    width: 350px;
    float: right;
    position: relative;
    top: 20px;
}

#nombre-JAVIER {
    font-size: 16px;
    text-align: left;
}

#javier-text {
    float: left;
    position: relative;
    text-align: left;
}

.links-RS-JAVIER {
    width: 350px;
    float: right;
    position: relative;
    top: 20px;
}

.linea-divisoria {
    width: 350px;
    position: relative;
    top: 30px;
}

.seccion2-people {
     display: block;
    height: auto;
    width: 350px;
    float: right;
    position: relative;
    bottom: 0px;
    top: 20px;
}

.ALEJANDRO-HEVIA {
    height: 131px;
    width: 350px;
}

.FOTO-ALEJANDRO {
    float: left;
    position: relative;
}

#nombre-HEVIA {
     font-size: 17px;
    text-align: left;
}

#hevia-text {
    float: left;
    position: relative;
    text-align: left;
}

.links-RS-HEVIA {
    width: 350px;
    float: right;
    position: relative;
    top: 20px;
}

.JOSE-PIQUER {
    height: 131px;
    width: 350px;
    position: relative;
    top: 60px;
}

.links-RS-hevia {
    width: 350px;
    float: right;
    position: relative;
    top: 20px;
}

.FOTO-JOSE {
    float: left;
    position: relative;
}

#nombre-piquer {
    font-size: 17px;
    text-align: left;
}

#piquer-text {
    float: left;
    position: relative;
    text-align: left;
}

.links-RS-PIQUER {
    width: 350px;
    float: right;
    position: relative;
    top: 20px;
}

#first-title {
    font-size: 20px;
    text-align: left;
}

.projects {
    width: 350px;
    height: 150px;
    float: left;
}

.dns {
    position: absolute;
    top: 140px;
}

.project-image {
    margin-left: 20px;
}

#github-text {
    display: block;
    width: 170px;
    height: auto;
    float: right;
    position: relative;
    right: 45px;
    top: 20px
}

.middle-line {
    width: 700px;
    height: 10px;
    position: absolute;
    bottom: 0;
    background-image: url("../images/MIDDLE-LINE.png");
}

.latest-publications {
    width: 700px;
    position: relative;
    float: top;
}

.menu-publicaciones {
    width: 700px;
    position: relative;
    float: top;
}

.menu-publicaciones hr {
   clear: both;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
   padding: 0;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
}
#latest.publications {
    font-size: 17px;
}

#latestpublications {
    font-size: 16px;
}

.info-article {
    width: 650px;
    height: 40px;
    right: 0px;
    position: relative;
    float: right;
    top: 5px;
}

.article-icon-image {
    float: left;
    position: relative;
}

.article {
    width: 700px;
    height: 32px;
    position: relative;
    top: 22px;
}

#article-title {
    font-size: 15px;
    line-height: 15px;
    margin: 0px;
}

#institution {
    font-size: 12.5px;
    line-height: 15px;
    color: darkgray;
}

#pager-article {
    top: 123px;
    right: 40px;
    position: relative;
}



.secciones-people {
    width: 730px;
    height: auto;
    position: relative;
    bottom: 30px;
}

.secciones-research {
    width: 700px;
    height: 300px;
    top:100px;
    position: absolute;
    float: left;
}

.secciones-publicaciones {
    width: 700px;
    position: absolute;
    top: 300;
    bottom: 0;
}

.cabecera {
    width: 700px;
    height: 64px;
    position: absolute;
    top: 70px;
}

.adkintun {
   
}

#titulo-proyectos {
    width: 240px;
}

.adkintun-home {
    margin: 40px;
}

.dns-home {
    margin: 40px;
}

.cabecera-research {
    width: 700px;
    height: 5px;
    position: absolute;
    top: 70px;
    float:left:
}

.navbar-nav {
        width: 278px;
}

.cabecera-people {
    position: absolute;
    top: 70px;
}

.reseachers {
    position: absolute;
    top: 120px;
}

.reseachers2 {
    position: absolute;
    top: 580px;
}

.content-people {
    width: 700px;
    height: 5000px;
    margin: auto;
    position: relative;
    clear:left;

}

.seccion1-pleople-ultimo {
    position: absolute;
    top: 400px;
}

.linea-divisoria-ultima {
    width: 350px;
    height: 5px;
    position: relative;
    top: 107px;
}

.reseachers3 {
    position: absolute;
    top: 1260px;
}

.reseachers4 {
    position: absolute;
    top: 1720px;
}

.reseachers5 {
    position: absolute;
    top: 1960px;
}

.seccion1-pleople-ultimo2 {
    position: absolute;
    top:1970px;
}

.linea-divisoria-ultima2 {
    width: 350px;
    position: relative;
    top: 1920px;
}

.info-people-PATY {
    width: 350px;
    margin-left: 150px;
    position: relative;
    top: 50px;
}

.seccionmil {
    display: block;
    height: auto;
    width: 350px;
    float: left;
    position: relative;
    bottom: 0px;
    top: 85px;
}

.linea-divisoria11 {
    width: 350px;
    position: relative;
    top: 30px;
}

.reseachers6 {
    position: absolute;
    top: 2650px;
}

.reseachers7 {
    position: absolute;
    top: 3175px;
}

.linea-divisoria-SPECIAL {
    width: 350px;
    position: absolute;
    bottom: 10px;
}

.linea-divisoria-SPECIAL2 {
    width: 350px;
    position: absolute;
    bottom: 10px;
    left: 380px;
}

.reseachers8 {
    position: absolute;
    top: 3625px;
}

.seccion1-people-2 {
     display: block;
    height: auto;
    width: 350px;
    float: left;
    position: relative;
    bottom: 0px;
    top: 90px;
}

.reseachers9 {
    position: absolute;
    top: 4240px;
}

.reseachers10 {
     position: absolute;
     top: 4760px;
}

.linea-divisoria-UL {
    width: 350px;
    position: absolute;
    bottom: 171px;
}

.content-research {
    width: 700px;
    top:0;
    margin: auto;
    position: relative;
    clear:left;
    height: 5650px;
}

#footerfinal-research {
    position:absolute;
    width: 700px;
    height: 300px;
    bottom: -350px;
}

#nombre-CHIQUI {
    font-size: 12.7px;
    text-align: left;
}

.info-people-alumni {
    width: 800px;
    margin-left: 10px;
    position: absolute;
    top: 15px;
}

.links-RS-ALUMNI {
    width: 270px;
    float: right;
    position: relative;
    bottom: 7px;
}

.linea-divisoria-alumni {
    width: 350px;
    position: relative;
    bottom: 60px;
}

.SANDRA-CESPEDES-ALUMNI {
     height: 131px;
    width: 350px;
    position: relative;
    bottom: 65px;
}

.links-RS-ALUMNI-1 {
    width: 240px;
    float: right;
    position: relative;
    bottom: 7px;
}

.reseachers100 {
    position: absolute;
     top: 4475px;
}

.linea-divisoria-alumni-2 {
    width: 350px;
    position: relative;
    bottom: 150px;
}

.linea-divisoria-alumni-3 {
    width: 350px;
    position: relative;
    bottom: 150px;
}

.links-RS-ALUMNI-LALANNE {
    width: 247px;
    float: right;
    position: relative;
    bottom: 7px;
}

.SANDRA-CESPEDES-ALUMNI-2 {
    height: 131px;
    width: 350px;
    position: relative;
    bottom: 130px;
}

.links-RS-ALUMNI-3 {
    width: 270px;
    float: right;
    position: relative;
    bottom: 7px;
}

.seccion-ultima {
    height: auto;
    width: 350px;
    position: absolute;
    top: 235px;
}

.project-image-dns {
        margin-left: 45px;
}

.project-image-adkintun {
    margin-left: 40px;
}

#first-title-projects {
    font-size: 20px;
    text-align: center;
    margin-right: 80px;
}

#first-title-tools {
    font-size: 20px;
    text-align: left;
    margin-left: 80px;
}

.tools-content {
    margin: 12px;
}

.seccion1-index {
    display: block;
    height: auto;
    width: 300px;
    float: left;
    position: relative;
    margin-left: 30px;
}

.twitter-timeline {
    
}

.latest-news {
    
    
}

#project-title {
    position: absolute;
    font-size: 20px;
    color: #4e5156;
}

#latest-news-title {
    font-size: 20px;
    color: #4e5156;
    margin-left: 80px;
}

#nameabout2 {
    position: absolute;
    font-size: 20px;
    margin-left: 80px;
    color: #4e5156;
}

.proyects {
    margin-top: 70px;
}
