@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato.ttf');
  font-weight: normal;
  font-style: normal;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	font-family: 'Lato';
}

html,
body {
	font-size: 100%;
	font-family: 'Lato';
}

body {
	background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	margin: 0;
	letter-spacing: 0.5px;
	line-height: 24px;
	margin-bottom: 15px;
	font-size: 14px;
	color: #2a2a2a;
	font-family: 'Lato';
}

ul {
	margin: 0;
	padding: 0;
}

ul,
ol {
	font-size: 14px;
	letter-spacing: 1px;
	color: #6e6e6f;
	line-height: 1.9em;
	margin-bottom: 15px;
}

.background-video {
	position: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	width: 100%;
	height: 100%;
}

input[type="submit"],
a,
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}

a:hover {
	text-decoration: none;
}

img{
	width: 100%;
}
#about, #portfolio, #team, #paper, #twitter{
    padding: 40px 0;
}
.about_img {
    outline: 4px solid white;
    outline-offset: -25px;
}
.about_content {
    padding: 20px 0;
}
.abt_title h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #2f2f2f;
}
.abt_title h1 span {
    color: #e6333f;
}
.abt_title h1::after {
    height: 3px;
    content: "";
    background-color: #004ea0;
    width: 10%;
    display: block;
    top: 50px;
    position:absolute;
   
    
}
#portfolio{
	/*background-color: #d5e9fd;
    background-image: url(../images/project_bg.png);
    background-size: 100% 100%;*/
}
#team{
    /*background-color: #d5e9fd;*/
    background-image: url(../images/project_bg.png);
    background-size: 100% 100%;
}
.main_title h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #2f2f2f;
    text-align: center;
}
.main_title h1::after {
    content: "";
    width: 5%;
    display: block;
    margin: auto;
    border-bottom: 3px solid #004ea0;
    margin-top: 8px;
    
}
p.sub_title {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}
.portfolio_content {
    padding: 20px 0;
    text-align: center;
}
.port {
    margin-bottom: 10px;
    box-shadow: 10px 14px 14px rgba(39, 49, 67, 0.12);
}
.port:hover {
    box-shadow: 6px 6px 7px rgba(39, 49, 67, 0.12);
}
.port a {
    color: #2a2a2a;
}
.port:hover p {
    color: red;
}
.port_img img {
    height: 120px;
}
.port_info {
    background-color: white;
    padding: 15px 0;
}
.port_info p {
    margin: 0;
    font-size: 16px;
}
/*section#banner::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 99px solid transparent;
    border-bottom: 99px solid transparent;
    border-left: 1200px solid #FFF;
    position: absolute;
    bottom: -140px;
    left: 0;
}
section#banner::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 99px solid transparent;
    border-bottom: 99px solid transparent;
    border-right: 1202px solid #FFF;
    position: absolute;
    bottom: -140px;
    right: 0;
}*/
.banner_img{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: 100% 100%;
}
h1.slider_title {
    text-align: center;
    /*margin-top: 19%;*/
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 2px 2px 5px #0054ac;
}
h1.slider_title::after {
    content: "";
    display: block;
    height: 10px;
    background-image: url(../images/line.png);
    background-repeat: no-repeat;
    background-position: center;
}
p.slider_sub_title {
    text-align: center;
    max-width: 55%;
    margin: auto;
    margin-top: 20px;
}
section.cd-slider::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 99px solid transparent;
    border-bottom: 99px solid transparent;
    border-left: 1200px solid #FFF;
    position: absolute;
    bottom: -140px;
    left: 0;
}
section.cd-slider::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 99px solid transparent;
    border-bottom: 99px solid transparent;
    border-right: 1202px solid #FFF;
    position: absolute;
    bottom: -140px;
    right: 0;
}
.slider_content {
    padding: 20px 0;
}
img.slider_logo {
    width: 160px;
    margin: 0 auto;
    display: block;
    padding: 70px 0;
}
#down_arrow {
    text-align: center;
    margin-top: -25px;
}
a.button-down {
    background-color: white;
    box-shadow: 4px 4px 7px grey;
    padding: 15px;
    border-radius: 50%;
    font-size: 35px;
}
footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 25px;
}
.team_content {
    padding: 30px 0;
    float: left;
    text-align: center;
    padding-bottom: 60px;
}
.team_img:hover{
    box-shadow: 10px 14px 14px rgba(39, 49, 67, 0.12);
}
.view_all {
    text-align: center;
}
.team{
    margin: 20px 0;
}
a.view_btn {
    background-color: #2e2e2e;
    padding: 12px 30px;
    color: white;
}
a.view_btn:hover {
    background-color: red;
}
.paper_img img {
    width: 60px;
    padding: 20px 0;
}
.team_img img {
    width: auto;
    height: auto;
}
#paper{
    background-image: url(../images/paper_bg.png);
    background-size: 100% 100%;
}
.papers {
    text-align: center;
    background-image: url(../images/paper.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 308px;
    box-shadow: 10px 14px 14px rgba(39, 49, 67, 0.12);
}
.papers:hover{
    box-shadow: 6px 6px 7px rgba(39, 49, 67, 0.12);
}
p.paper_title {
    color: #004ea0;
    font-weight: 700;
}
.paper_info a {
    color: #2a2a2a;
}
.paper_info a:hover {
    color: red;
}
.papers_content {
    padding: 30px 0;
    float: left;
    text-align: center;
    padding-bottom: 45px;
}
.port_img {
    background-color: #d5edf7;
}
.team:hover .overlay {
    left: 30px;
    opacity: 1;
}
.team .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0;
}
.team .overlay p {
    color: white;
    text-align: center;
}
.team .overlay span {
    color: red;
}
#team_detail, #paper_detail{
    background-color: #f2f2f2;
    padding: 30px 0;
}
.nav.navbar-nav {
    display: inline-block;
    text-align: left;
}
#header {
    background-color: #fff;
}
.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
    background-color: #004ea0;
}
.navbar-brand > img {
    display: block;
    width: 130px;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: red;
}
.navbar{
    min-height: 115px;
}
#team_detail .team_img img {
    width: auto;
    height: auto;
}
#team_detail .col-md-3.col-sm-12:nth-child(4n+1) {
    clear: left;
}
.paper_content{

}
h2.sub_title {
    font-size: 24px;
    margin: 20px 0;
}
h2.sub_title::after {
    height: 2px;
    background-color: red;
    content: "";
    width: 35px;
    display: block;
    margin-top: 9px;
}
.year_detail {
    margin: 20px 0 20px 20px;
}
.year_detail span {
    font-size: 26px;
}
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 25px;
    display: none;
    background: url('../images/icon_top.png') no-repeat;
    background-color: #000;
    background-size: 100% 100%;
    cursor: pointer;
}
ul.lang {
    text-align: right;
}
ul.lang li {
    display: inline-block;
    padding: 20px;
}
ul.lang li a {
    color: white;
}
#filters li {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #2a2a2a;
    cursor: pointer;
}
#filters {
    padding: 0;
    list-style: none;
    text-align: center;
}
#filters li span:hover, #filters li span:focus, #filters li span.active {
    color: red !important;
}
@media (max-width: 768px){
    .nav.navbar-nav {
        display: block;
    }
    .navbar-collapse{
        margin-top: 60px;
    }
    #team_detail .team_img img {
        width: 100%;
    }
    h1.slider_title {
        font-size: 26px;
    }
}
