body {
	background-color: #333333;
	margin-top: -20px;
}

iframe[id^='twitter-widget-']{ width:100% !important;}


.header {
	background-color: #FFF;
	padding-top: 15px;
	border-bottom: none;
	padding-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	border-top: solid 5px #325994;
}

.lead {
	background-color: #292625;
	color: #FFF;
	font-weight: 100;
	margin-left: -70px;
	padding: 2px;
	padding-left: 70px;
	width: 120%;
}

p {
	text-align: justify;
}

a {
	color: #9b9da4;
	font-weight: 300;
	text-decoration: none;
	font-size: smaller;
}

.nav-pills>li.active>a {
	color: #494949;
	font-weight: 500;
	background-color: transparent;
}

.nav-pills>li>a:hover {
	color: #425485;
	background-color: transparent;
	border-bottom: solid 2px #425485;
	border-radius: 0px;
}

.nav-pills>li.active>a:hover {
	color: #425485;
	background-color: transparent;
	border-bottom: solid 2px #425485;
}

.header h3 {
	padding-bottom: 5px;
}

.nav {
	font-size: medium;
	padding-top: 10px;
}

.img {
	background-color: #FFF;
	padding-top: 15px;
	margin-top: -25px;
}

.proyectos {
	background-color: #FFF;
	border-bottom: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

.proyectos a {
	font-size: inherit;
}

.lab {
	padding-top: 20px;
}

.careers {
	margin-top: 40px;
}

.careers p {
	color: #d30400;
}

.careers .lead {
	color: #FFF;
}

.careers p a {
	color: #d07573;
}

.others .row .col-lg-12 h4 a {
	color: #d07573;
}

.publications_p {
	padding-bottom: 5px;
	border-bottom: 1px solid #cacaca;
}

.careers .row p a:hover {
	color: #d30400;
}

.others {
	margin-top: 30px;
}

.others .lead {
	padding-bottom: 5px;
}

th {
	text-align: left;
	background-color: #294e84;
	color: #FFF;
	font-weight: 300;
	padding-left: 10px;
	border-right: solid 2px #e5e5e5;
}

th.col1 {
	width: 70%;
}

th.col2 {
	width: 90%;
	text-align: center;
}

th.col3 {
	background-color: #FFF;
	width: 0%;
}

.others .row .col-lg-12 .type01 td {
	padding: 5px;
	padding-left: 10px;
	border-bottom: 1px #dadada solid;
}

.others .row .col-lg-12 .type01 tr.top td {
	border-bottom: 1px #FFF solid;
}

.others .row .col-lg-12 .type01 td a {
	font-size: inherit;
}

.others .row .col-lg-12 .type01 td p {
	font-size: smaller;
}


.general_content .row .col-lg-12 .type01 td {
	padding: 5px;
	padding-left: 10px;
	border-bottom: 1px #dadada solid;
}

.general_content .row .col-lg-12 .type01 tr.top td {
	border-bottom: 1px #FFF solid;
}

.general_content .row .col-lg-122 .type01 td a {
	font-size: medium;
}

.general_content .row .col-lg-12 .type01 td p {
	font-size: smaller;
}


.general_content .row .col-lg-12 .row .col-lg-12 a {
	font-size: inherit;
}

.general_content .row .col-lg-12 .row .col-lg-9 a {
	font-size: inherit;
}

.general_content .row .col-lg-12 .row .col-lg-6 a {
	font-size: inherit;
}

.footer .lead {
	background-color: transparent;
}

.footer .row .col-lg-8 .row {	
	margin-top: -20px;
}

.footer {
	background-color: #212121;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 20px;
	
}

.footer .row .col-xs-4 {
	margin-bottom: 10px;
}

.footer .row .col-ms-4 {
	margin-bottom: 10px;
}

.footer2 {
	padding-top: 20px;
	padding-left: 55px;
	padding-right: 55px;
	padding-bottom: 10px;
}

.footer2 p {
	color: #FFF;
	font-size: smaller;
}

.footer2 a {
	font-size: inherit;
}

.general_content {
	background-color: #FFF;
	margin-top: 0px;
	border-bottom: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

.general_content .map {
	background-color: #294e84;
	padding: 2px;
	border-radius: 3px;
}

.general_content .row .col-lg-12 .careers {
	margin-bottom: 40px;
 }
 
 .general_content .row .col-lg-12 .row .col-lg-5 {
	 padding-bottom: 20px;
 }
 
 .general_content .row .col-lg-12 .row .col-lg-5 a {
	 font-size: inherit;
 }
 
